name: Main Workflow
on:
  push:
  schedule:
    - cron: "0 0 * * 0"
jobs:
  build-linux:
    name: Build Linux
    strategy:
      matrix:
        gcc-version: [
          "9-bullseye",
          "10-bullseye",
          "11-bullseye",
          "12-bullseye",
          "13-bookworm",
          "14-bookworm",
          "15-bookworm"
        ]
    runs-on: ubuntu-latest
    container: gcc:${{ matrix.gcc-version }}
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v4
      - name: Build & Install Dependencies
        run: |
          apt-get update && apt-get install -y -q nasm
      - name: Build Hello ASM
        run: |
          make
      - name: Test Hello ASM
        run: |
          ./hello
  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v4
      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v1.1
      - name: Build & Install Dependencies
        run: |
          winget install --accept-package-agreements --accept-source-agreements ezwinports.make nasm
      - name: Build Hello ASM
        run: |
          $env:PATH += ";C:\Program Files\NASM\"
          make -f Makefile.windows
      - name: Test Hello ASM
        run: |
          ./hello
  build-macos-legacy:
    name: Build MacOS
    runs-on: macos-15-intel
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v4
      - name: Build & Install Dependencies
        run: |
          brew install make nasm
      - name: Build Hello ASM
        run: |
          make -f Makefile.mac
      - name: Test Hello ASM
        run: |
          ./hello
